body {
  margin: 0;
  font-family: serif;
  background-image: url("/images/worms4.png");
  background-repeat: repeat; /* o no-repeat */
  background-position: center;
  background-size: auto; /* oppure cover */
  font-family: VT323;
}

main {
  max-width: 720px;
  margin: 40px auto;
  padding: 24px;
}

header {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #926132;
}

nav {
    background-color: #d6b98c;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #2f3e5c;
    font-size: 20px;
    transition: transform 0.15s ease, color 0.15s ease;
}

nav a:hover {
    color: #b61a1a;
    transform: scale(1.05);
}

.welcome {
    background-color: rgba(227, 205, 184, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    letter-spacing: 1px;
}

.welcome h1 {
    color: #2f3e5c;
    font-size: 30px;
}


.bio {
    background-color: rgba(227, 205, 184, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bio p {
    padding-top: 2%;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.bio img {
    width: 250px;
    border: solid 2px #926132;
    image-rendering: pixelated;
}

.posts {
    background-color: rgba(227, 205, 184, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
    background-color: #926132;
    color: #d6b98c;
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding: 1%;
}